/* Font: Inter (font weights: 400, 800) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#title{
  /* color: #1310b9; */
  color: #8911d3;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 90px;
  margin-bottom: 10px;
}

.App-header {
  background-color: #B6D4F0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.allTodos{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Handles notepad theme */
.notepad {
  background-color: #FFFEE7;
  padding: 1vw 3vw;
  margin-top: 2vh;
  position: relative; /* Necessary for absolute positioning of pseudo-elements */
}
/* Thin lines on the left side */
.notepad::before,
.notepad::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px; /* Width of the lines */
  background-color: rgb(224, 7, 7); /* Color of the lines */
}
/* Positioning of the lines */
.notepad::before {
  left: 1vw; /* Adjust distance from the left side */
}
.notepad::after {
  left: 1.5vw; /* Adjust distance from the left side and space between lines */
}

/* Style for the checkbox */
.todo-checkbox {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  top: 5px;
}
/* The white circle part */
.todo-checkbox::before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Marks the X */
.todo-checkbox:checked::after {
  content: 'X';
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 0.8em;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.singleTodo{
  margin: 10px 0; 
  padding: 10px 20px;
  display: flex;
  width: 60vw;
  /* align-items: center; */
  border-bottom: 1px solid #2e93c5;
}

.singleTodo:last-child{
  border-bottom: none;
}

.todoText{
  justify-content: flex-start;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-left: 0.6vw;
}

.todoText.completed{
  text-decoration: line-through;
}

/* Handles delete button for each task */
#del-btn{
  border-radius: 12px;
  padding: 8px 16px;
  border: 0px;
  background-color: #D9D9D9;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin-left: auto;
}
#del-btn:hover {
  background-color: #E41818;
  color: #FDFDFD;
}

/* Handles the adding task button */
#add-btn{
  padding: 7px 14px;
  border-radius: 25px;
  font-size: 2vh;
  margin-left: 20px;
  /* background-color: #0e24b0; */
  background-color: #1ca412;
  color: #FDFDFD;
  border: 0px;
}
#add-btn:hover{
  background-color: #14d310;
  color: #FDFDFD;
}

#task-input{
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  border: 0px;
  font-size: 20px;
}